img
{
  width:800px;
  margin: 5px auto;
  display: block;
}

body
{
  background-color: #002233;
}

h1
{
  font-family: verdana;
  font-size: 45px;
  color: white;
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

p
{
  background-color: gray;
  color: white;
  width: 800px;
  padding: 20px;
  margin: 5px auto;
  box-sizing: border-box;
  font-family: verdana;
  font-size: 15px;
  text-align: justify;
}
