@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600&display=swap');

* {
  margin: 76px;
  padding: 0;
}

html{
  background-image: url(../img/back.png);
  margin: 500 px;
}

p {
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 33px;
}

p {
  position: relative;
  bottom: 0;
  right: 0;
  animation: animate-x 4s ease-in-out;
  cursor: pointer;
}

p.fun {
  color: #149414;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 25px;
}

p.fun {
  position: relative;
  bottom: 0;
  right: 0;
  animation: animate-y 11s ease-in-out;
  cursor: pointer;
}

p#jstext  {
  color: #149414;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 45px;
}

div.sound button {
  color: white;
  font-family: 'Orbitron', sans-serif;
  background-color: inherit;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  cursor: crosshair;
}

div.sound {
  color: #149414;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 25px;
}

div.sound {
  position: relative;
  bottom: 0;
  left: 0;
  animation: animate-z 11s ease-in-out;
  cursor: pointer;
}

@keyframes  animate-x  {
  from  {
    bottom: -900px;
  }
  to  {
    bottom: 0:
  }
}

@keyframes  animate-y  {
  from  {
    right: -2500px;
  }
  to  {
    bottom: 0:
  }
}

@keyframes  animate-z  {
  from  {
    left: -2500px;
  }
  to  {
    bottom: 0:
  }
}
